@import url('https://fonts.googleapis.com/css?family=Mandali&display=swap'); body {
  background-color: #1b1b1b;
  color: #fef;
}

body {
  background-color: #1b1b1b !important;
}

::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

.avatar {
  width: 100% !important;
}

div#bg {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  left: 0;
  align-items: center;
  width: 100%;
  overflow: hidden;
  z-index: -2;
  opacity: 0.3;
  transition: 0.5s ease;
}

.username-lg {
  font-family: 'Mandali', sans-serif;
  font-size: 50px;
  text-align: center;
  background: linear-gradient(to right, #4568DC 20%, #B06AB3 40%, #B06AB3 60%, #4568DC 80%);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: shine 1s linear infinite;
  animation: shine 1s linear infinite;
}

i.fas.fa-sync-alt {
    text-align: center;
    background: linear-gradient(to right, #4568DC 20%, #B06AB3 40%, #B06AB3 60%, #4568DC 80%);
    background-size: 200% auto;
    color: #000;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: shine 1s linear infinite;
    animation: shine 1s linear infinite;
    transform: scale(1.2) translateY(2px);
    cursor: pointer;
}

@-webkit-keyframes shine {
  to {
      background-position: 200% center;
  }
}

@keyframes shine {
  to {
      background-position: 200% center;
  }
}

.username-lg:hover {
  color: white;
  text-decoration: none;
}

.description {
  font-family: 'Mandali', sans-serif;
  font-size: 19px;
}

.status {
  font-size: 17px;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.social-media-icon {
  font-size: 40px;
  text-align: center;
  background: linear-gradient(to right, #4568DC 20%, #B06AB3 40%, #B06AB3 60%, #4568DC 80%);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: shine 1s linear infinite;
  animation: shine 1s linear infinite;
}

.social-media-icon:hover {
  background: #2b2b2b40;
  text-decoration: none;
  border-radius: 10px;
  -webkit-text-fill-color: #4568DC;
}

.cur-pointer {
  cursor: pointer;
}

.slide {
  margin-bottom: 30%;
}

.ff-mono {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.fs-35 {
  font-size: 35px;
  text-align: center;
  background: linear-gradient(to right, #4568DC 20%, #B06AB3 40%, #B06AB3 60%, #4568DC 80%);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: shine 1s linear infinite;
  animation: shine 1s linear infinite;
}

.latest-link {
  font-size: 17px;
}

.w-100.mt-5 {
  background: linear-gradient(to right, #4568DC 20%, #B06AB3 40%, #B06AB3 60%, #4568DC 80%);
  background-size: 200% auto;
  background-clip: text;
  text-fill-color: transparent;
  height: 2px;
  -webkit-text-fill-color: transparent;
  animation: shine 1s linear infinite;
}

#app {
  opacity: 0;
  transition: 1s ease;
}

.avatar-block {
  margin: auto;
  width: 155px !important;
  height: 155px !important;
  border: 20px solid transparent;
  box-sizing: border-box;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1em;
  letter-spacing: 1em;
  padding: 1rem;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.avatar-block {
    margin: auto;
    width: 155px !important;
    height: 155px !important;
    border: 6px solid transparent;
    box-sizing: border-box;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1em;
    letter-spacing: 1em;
    padding: 0;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}